In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Get Year 2017

In [2]:
dataset = pd.read_csv('Seasons_Stats.csv', index_col = 0)
dataset = dataset[dataset['Year'] == 2017.0]
# Drop Duplicated
dataset = dataset.drop_duplicates(subset=['Player'])
len(dataset)

486

In [3]:
dataset.isna().sum()

Year        0
Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
PER         0
TS%         1
3PAr        1
FTr         1
ORB%        0
DRB%        0
TRB%        0
AST%        0
STL%        0
BLK%        0
TOV%        1
USG%        0
blanl     486
OWS         0
DWS         0
WS          0
WS/48       0
blank2    486
OBPM        0
DBPM        0
BPM         0
VORP        0
FG          0
FGA         0
FG%         1
3P          0
3PA         0
3P%        36
2P          0
2PA         0
2P%         2
eFG%        1
FT          0
FTA         0
FT%        15
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
dtype: int64

In [4]:
# Kolom blanl dan blank2 sengaja dihilangkan dikarenakan semua kolomnya berisi null
dataset = dataset.drop(['blanl', 'blank2'], axis=1)
# dataset = dataset.dropna()

In [5]:
# Fungsi Mencari Player
def getDFYoungestPlayer(team):
    tempList = []
#     Mencari player pada tiap tim
    for item in team:
        tempDF = dataset.loc[dataset.Tm == item]
        ageMin = tempDF.Age.min()
#         Mencari player dengan umur termuda di team tersebut
        dfMinAgePlayer = tempDF.loc[tempDF.Age == ageMin][['Player', 'Age', 'Tm']]
        for i in range (len(dfMinAgePlayer)):
#             Menyatukan seluruh player tiap team
            tempList.append(dfMinAgePlayer.iloc[i])
    return pd.DataFrame(tempList)
def getDFOldestPlayer(team):
    tempList = []
#     Mencari player pada tiap tim
    for item in team:
        tempDF = dataset.loc[dataset.Tm == item]
        ageMax = tempDF.Age.max()
#         Mencari player dengan umur termuda di team tersebut
        dfMaxAgePlayer = tempDF.loc[tempDF.Age == ageMax][['Player', 'Age', 'Tm']]
        for i in range (len(dfMaxAgePlayer)):
#             Menyatukan seluruh player tiap team
            tempList.append(dfMaxAgePlayer.iloc[i])
    return pd.DataFrame(tempList)

# Youngest Age per Team

In [6]:
# dataset.loc[dataset['Age'].groupby(dataset["Tm"]).idxmin()]

In [7]:
teamList = dataset.Tm.unique()
dfYoungest = getDFYoungestPlayer(teamList)
dfYoungest.sort_values(by='Tm')

                        Player   Age   Tm
24141          DeAndre' Bembry  22.0  ATL
24647    Taurean Waller-Prince  22.0  ATL
24170             Jaylen Brown  20.0  BOS
24656         Isaiah Whitehead  21.0  BRK
24539             Bobby Portis  21.0  CHI
24678           Christian Wood  21.0  CHO
24256               Kay Felder  21.0  CLE
24144               Ben Bentil  21.0  DAL
24481             Jamal Murray  19.0  DEN
24241           Henry Ellenson  20.0  DET
24377          Stanley Johnson  20.0  DET
24425             Kevon Looney  20.0  GSW
24513           Chinanu Onuaku  20.0  HOU
24630             Myles Turner  20.0  IND
24601            Diamond Stone  19.0  LAC
24690              Ivica Zubac  19.0  LAL
24359           Brandon Ingram  19.0  LAL
24219            Deyonta Davis  20.0  MEM
24124             Wade Baldwin  20.0  MEM
24676          Justise Winslow  20.0  MIA
24435               Thon Maker  19.0  MIL
24388               Tyus Jones  20.0  MIN
24227            Cheick Diallo  20.0  NOP
24540       Kristaps Porzingis  21.0  NYK
24571         Domantas Sabonis  20.0  OKC
24688        Stephen Zimmerman  20.0  ORL
24431  Timothe Luwawu-Cabarrot  21.0  PHI
24509            Jahlil Okafor  21.0  PHI
24383            Derrick Jones  19.0  PHO
24142            Dragan Bender  19.0  PHO
24193          Marquese Chriss  19.0  PHO
24640              Noah Vonleh  21.0  POR
24516     Georgios Papagiannis  19.0  SAC
24480          Dejounte Murray  20.0  SAS
24537             Jakob Poeltl  21.0  TOR
24176            Bruno Caboclo  21.0  TOR
24445         Chris McCullough  21.0  TOT
24252               Dante Exum  21.0  UTA
24432               Trey Lyles  21.0  UTA
24514              Kelly Oubre  21.0  WAS

# Oldest Age per Team

In [8]:
# dataset.loc[dataset['Age'].groupby(dataset["Tm"]).idxmax()]

In [9]:
dfOldest = getDFOldestPlayer(teamList)
dfOldest.sort_values(by='Tm')

                 Player   Age   Tm
24578   Thabo Sefolosha  32.0  ATL
24486         Gary Neal  32.0  ATL
24299      Gerald Green  31.0  BOS
24576        Luis Scola  36.0  BRK
24643       Dwyane Wade  35.0  CHI
24557     Brian Roberts  31.0  CHO
24108    Chris Andersen  38.0  CLE
24499     Dirk Nowitzki  38.0  DAL
24464       Mike Miller  36.0  DEN
24631        Beno Udrih  34.0  DET
24653        David West  36.0  GSW
24333      Nene Hilario  34.0  HOU
24366      Al Jefferson  32.0  IND
24165      Aaron Brooks  32.0  IND
24529       Paul Pierce  39.0  LAC
24679       Metta World  37.0  LAL
24184      Vince Carter  40.0  MEM
24317     Udonis Haslem  36.0  MIA
24611       Jason Terry  39.0  MIL
24430        John Lucas  34.0  MIN
24361      Jarrett Jack  33.0  NOP
24116   Carmelo Anthony  32.0  NYK
24642     Sasha Vujacic  32.0  NYK
24200     Nick Collison  36.0  OKC
24649       C.J. Watson  32.0  ORL
24594    Tiago Splitter  32.0  PHI
24125   Leandro Barbosa  34.0  PHO
24191    Tyson Chandler  34.0  PHO
24629       Evan Turner  28.0  POR
24101     Arron Afflalo  31.0  SAC
24621  Anthony Tolliver  31.0  SAC
24284     Manu Ginobili  39.0  SAS
24429        Kyle Lowry  30.0  TOR
24183   DeMarre Carroll  30.0  TOR
24235     Mike Dunleavy  36.0  TOT
24128       Matt Barnes  36.0  TOT
24376       Joe Johnson  35.0  UTA
24291     Marcin Gortat  32.0  WAS

# Soal 2

In [10]:
dfMM = dataset.loc[dataset['MP'].groupby(dataset["Pos"]).idxmax()]
dfMM[['Player', 'MP', 'Pos']].sort_values(by=['MP'], ascending=False)

                   Player      MP   Pos
24658      Andrew Wiggins  3048.0    SF
24625  Karl-Anthony Towns  3030.0     C
24306        James Harden  2947.0    PG
24127     Harrison Barnes  2803.0    PF
24443       C.J. McCollum  2796.0    SG
24405   Joffrey Lauvergne   980.0  PF-C

# Soal 3

In [11]:
print('Team: ', dataset['TRB%'].groupby(dataset["Tm"]).mean().idxmax())
print('AVG Total Rebound: ', dataset['TRB%'].groupby(dataset["Tm"]).mean().max())

Team:  WAS
AVG Total Rebound:  13.45

In [12]:
print('Team: ', dataset['AST%'].groupby(dataset["Tm"]).mean().idxmax())
print('AVG Assist: ', dataset['AST%'].groupby(dataset["Tm"]).mean().max())

Team:  DEN
AVG Assist:  15.860000000000001

In [13]:
print('Team: ', dataset['STL%'].groupby(dataset["Tm"]).mean().idxmax())
print('AVG Total Steal: ', dataset['STL%'].groupby(dataset["Tm"]).mean().max())

Team:  MIN
AVG Total Steal:  2.3714285714285714

In [14]:
print('Team: ', dataset['BLK%'].groupby(dataset["Tm"]).mean().idxmax())
print('AVG Block: ', dataset['BLK%'].groupby(dataset["Tm"]).mean().max())

Team:  GSW
AVG Block:  2.74

# Soal 4

In [15]:
def createDFeachPos(posName, selectedAtr):
    tempDF = dataset[dataset['Pos'] == posName]
    tempDF = tempDF[selectedAtr]
    tempDF = tempDF.set_index('Player')
    tempDF.iloc[:, 2:] = MinMaxScaler().fit_transform(tempDF.iloc[:, 2:])
    tempKalimat = 'Overall ' + posName
#     -2 dikarenakan menghilangkan Pos dan Tm
    tempDF[tempKalimat] = tempDF.iloc[:, 2:].sum(axis=1)/ (len(tempDF.columns)-2)
    return tempDF
def createDFAllPos(selectedAtr):
    tempDF = dataset[selectedAtr]
    tempDF = tempDF.set_index('Player')
    tempDF.iloc[:, 2:] = MinMaxScaler().fit_transform(tempDF.iloc[:, 2:])
#     -2 dikarenakan menghilangkan Pos dan Tm
    tempDF['Overall'] = tempDF.iloc[:, 2:].sum(axis=1)/ (len(tempDF.columns)-2)
    return tempDF

In [16]:
dfPG = createDFeachPos('PG', ['Player', 'Pos', 'Tm', 'AST', 'PTS'])
dfPG.sort_values(by=['Overall PG'], ascending=False).head(1)

                  Pos   Tm       AST  PTS  Overall PG
Player
Russell Westbrook  PG  OKC  0.927072  1.0    0.963536

In [17]:
dfC = createDFeachPos('C', ['Player', 'Pos', 'Tm', 'TRB', 'BLK'])
dfC.sort_values(by=['Overall C'], ascending=False).head(1)

            Pos   Tm       TRB  BLK  Overall C
Player
Rudy Gobert   C  UTA  0.927289  1.0   0.963645

In [18]:
dfSF = createDFeachPos('SF', ['Player', 'Pos', 'Tm', 'AST', 'PTS'])
dfSF.sort_values(by=['Overall SF'], ascending=False).head(1)

             Pos   Tm  AST  PTS  Overall SF
Player
LeBron James  SF  CLE  1.0  1.0         1.0

In [19]:
dfSG = createDFeachPos('SG', ['Player', 'Pos', 'Tm', '3P', 'PTS'])
dfSG.sort_values(by=['Overall SG'], ascending=False).head(1)

              Pos   Tm   3P       PTS  Overall SG
Player
Klay Thompson  SG  GSW  1.0  0.862376    0.931188

In [20]:
dfPF = createDFeachPos('PF', ['Player', 'Pos', 'Tm', 'TRB', 'PTS', 'BLK'])
dfPF.sort_values(by=['Overall PF'], ascending=False).head(1)

            Pos   Tm       TRB       PTS       BLK  Overall PF
Player
Serge Ibaka  PF  TOT  0.807229  0.772727  0.953846    0.844601

In [21]:
dfAllPos = createDFAllPos(['Player', 'Pos', 'Tm', 'PTS',  'AST','TRB', 'PTS', 'BLK'])
dfAllPos.sort_values(by=['Overall'], ascending=False).head(1)

                  Pos   Tm  PTS       AST       TRB  PTS      BLK   Overall
Player
Russell Westbrook  PG  OKC  1.0  0.927152  0.774194  1.0  0.14486  0.769241

# Soal 5

In [26]:
print('AVG Overall: ', dfAllPos['Overall'].groupby(dfAllPos["Tm"]).mean().max())
dfAllPos.loc[dfAllPos.Tm == dfAllPos['Overall'].groupby(dfAllPos["Tm"]).mean().idxmax()]

AVG Overall:  0.21002002964180935

,Pos,Tm,PTS,AST,TRB,PTS,BLK,Overall
Player,,,,,,,,
Ian Clark,SG,GSW,0.206020,0.099338,0.109319,0.206020,0.037383,0.131616
Stephen Curry,PG,GSW,0.781470,0.577263,0.316308,0.781470,0.079439,0.507190
Kevin Durant,SF,GSW,0.607897,0.331126,0.459677,0.607897,0.462617,0.493843
Draymond Green,PF,GSW,0.303362,0.588300,0.536738,0.303362,0.495327,0.445418
Andre Iguodala,SF,GSW,0.224394,0.289183,0.272401,0.224394,0.182243,0.238523
Damian Jones,C,GSW,0.007428,0.000000,0.020609,0.007428,0.018692,0.010831
Shaun Livingston,PG,GSW,0.152072,0.153422,0.135305,0.152072,0.093458,0.137266
Kevon Looney,C,GSW,0.052776,0.032009,0.111111,0.052776,0.079439,0.065622
James Michael,PF,GSW,0.057467,0.018764,0.080645,0.057467,0.135514,0.069971
Patrick McCaw,SG,GSW,0.110242,0.084989,0.090502,0.110242,0.070093,0.093214
JaVale McGee,C,GSW,0.184519,0.018764,0.218638,0.184519,0.313084,0.183905
Zaza Pachulia,C,GSW,0.166536,0.145695,0.367384,0.166536,0.154206,0.200071
Klay Thompson,SG,GSW,0.681001,0.176600,0.255376,0.681001,0.186916,0.396179
Anderson Varejao,C,GSW,0.007037,0.011038,0.024194,0.007037,0.014019,0.012665
David West,C,GSW,0.123534,0.166667,0.181900,0.123534,0.224299,0.163987